<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindorks.kotlinFlow">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.operators.SimpleFlowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.OperatorsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".ui.operators.ContextFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.FlatMapMergeFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.FlattenConcatFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.DelayFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.DistinctFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.EmitterFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.ErrorFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.LImitFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.FlatMapConcatFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.FilterFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.ZipFlowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.operators.MergeFlowActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.operators.FlattenMergeFlowActivity" />
        <activity android:name=".ui.operators.TransformLatestFlowActivity" />
        <activity android:name=".ui.operators.FlatMapLatestFlowActivity" />
        <activity android:name=".ui.operators.FilterNotFlowActivity" />
        <activity android:name=".ui.operators.FilterIsInstanceFlowActivity" />
        <activity android:name=".ui.operators.FilterNotNullFlowActivity" />
        <activity android:name=".ui.operators.MapFlowActivity" />
        <activity android:name=".ui.operators.ScanReduceFlowActivity" />
    </application>

</manifest>